:root {
    --font-default:  "Open Sans", sans-serif; 
    --font-primary: "Playfair Display", serif;
    --font-secondary: "Poppins", sans-serif;
}
  
  /* Colors */
:root {
    --color-default: #222222;
    --color-primary: #E2B9B9;
    --color-secondary: #F3EFEF;
    --color-gray: #F6F5FA;;
}

body{
	background: #ddb5b5;
}

.title h2{
    margin-top: 0;
    margin-left: 0;
}

.cart{
	margin: 20px 0;
	background-color: #F6F5FA;
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

img{
    width: 17.5rem;
    height: auto;
    transition: transform 0.3s ease;
}

img:hover {
    top: 50%;
    left: 50%;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%) scale(2.5);
    z-index: 9999;
}

.cart-item-container{
	background-color: #ffffff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.cart-container{
    background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
    width: 58rem;
}

.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 10px;
}
.cart-item .row .col-md-5 h4 {
    text-align: right;
}

.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #ce9b9b;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}

.input-group .btn {
    margin-right: auto; /* This will push the button to the right */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

.status{
	text-align: right;
}



/* BUTTONS */

/* Styling for buttons with btn btn-color */

.btn.btn-color {
    background-color: var(--color-primary); 
}

.btn.btn-color:hover{
    background-color: var(--color-primary);
    font-weight: 600;
    color: inherit;
}

.btn.btn-color .checkout{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #fff;
	border: none;
}

.btn.btn_header{
    background-color: var(--color-gray);
    margin-top: 0;
}

.btn.btn_header:hover{
    background-color: var(--color-primary);
}

.btn a{
    color: #000;
    text-decoration: none;
}

.icon{
    font-size: 40px;
    color: #ce9b9b;
    margin-left: 95px;
}






/* old css */
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.cart_total{
    background-color: #F3EFEF;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 12.5vh;
    color: rgb(65, 65, 65);
}

@media(max-width:767px){
    .cart_total{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}

.cart_total .col-2{
    padding: 0;
}
.cart_total .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.col .row h5{
    margin-left: 285px;
}

.col .total-price h5{
    margin-left: 90px;
}


.col .btn.btn_quantity{
    margin-left: 115px;
    width: 55%;
}

.title b{
    font-size: 1.5rem;
}
.products{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}