:root {
    --font-default:  "Open Sans", sans-serif; 
    --font-primary: "Playfair Display", serif;
    --font-secondary: "Poppins", sans-serif;
}
  
  /* Colors */
:root {
    --color-default: #222222;
    --color-primary: #E2B9B9;
    --color-secondary: #F3EFEF;
    --color-gray: #F6F5FA;;
}

body{
	background: #ddb5b5;
}











img{
    width: 17.5rem;
    height: auto;
    transition: transform 0.3s ease;
}












/* old css */
.products-container{
    margin: 0 auto;
    max-width: 1800px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.cart_total{
    background-color: #F3EFEF;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 12.5vh;
    color: rgb(65, 65, 65);
}

@media(max-width:767px){
    .cart_total{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}

.cart_total .col-2{
    padding: 0;
}
.cart_total .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.col .row h5{
    margin-left: 285px;
}

.col .total-price h5{
    margin-left: 90px;
}


.col .btn.btn_quantity{
    margin-left: 115px;
    width: 55%;
}

.title b{
    font-size: 1.5rem;
}
.products{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}