@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-default:  "Open Sans", sans-serif; 
    --font-primary: "Playfair Display", serif;
    --font-secondary: "Poppins", sans-serif;
}
  
  /* Colors */
:root {
    --color-default: #222222;
    --color-primary: #E2B9B9;
    --color-secondary: #F3EFEF;
    --color-gray: #c0b8b8;
}

body{
    background: #ddb5b5;
}

.btn.btn-color {
    background-color: var(--color-primary); /* Use primary color as background */
}

.btn.btn-color:hover{
    background-color: var(--color-primary);
}

.btn.btn_header{
    background-color: var(--color-gray);
    margin-top: 0;
}

.btn.btn_header:hover{
    background-color: var(--color-primary);
}

.title{
    margin-top: 0;
}

.title h2{
    margin-top: 0;
    margin-left: 1px;
}

.cart{
	margin: 20px 0;
	background-color: #F6F5FA;
	padding: 60px 0;
}



.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
    padding: 20px 25px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

img{
    width: 17.5rem;
    height: auto;
    transition: transform 0.3s ease;
}

.cart-item-container{
	background-color: #ffffff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.cart-container{
    background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
    width: 8rem;
}

.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 10px;
}
.cart-item .row .col-md-5 h4 {
    text-align: right;
}

.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #ce9b9b;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}

.input-group .btn {
    margin-right: auto; /* This will push the button to the right */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

.status{
	text-align: right;
}



/* BUTTONS */

/* Styling for buttons with btn btn-color */

.btn.btn-color {
    background-color: var(--color-primary); 
}

.btn.btn-color:hover{
    background-color: var(--color-primary);
    font-weight: 600;
    color: inherit;
}

.btn.btn-color .checkout{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #fff;
	border: none;
}

.btn.btn_header{
    background-color: var(--color-gray);
    margin-top: 0;
}

.btn.btn_header:hover{
    background-color: var(--color-primary);
}

.btn.btn_main{
    margin-top: 4.5rem;
}

.btn a{
    color: #000;
    text-decoration: none;
}

.icon-delete{
    font-size: 40px;
    color: #ce9b9b;
    margin-left: 35px;
}

.col-auto .icon-cart{
    font-size: 40px;
    color: #ce9b9b;
    margin-right: 95px;
}

.col .row .fa-regular{
    margin-left: 85px;
}

.col .row .fa-solid{
    margin-right: 85px;
}

.product-container{
    background-color: #F6F5FA;
    margin: 0 auto;
    width: 25rem;
    height: 41rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    overflow: hidden;
}

/* PRODUCTS PAGE */

.cart-products{
    margin: 20px 0;
	background-color: #F6F5FA;
	padding: 60px 0;
}

.product-container .img_products {
    width: 16rem;
    height: auto;
    transition: transform 0.5s;
    padding-top: 1.5rem;
}

